body {
    background-color: darkgreen;
}

.disp {
    position: relative;
    width: 525px;
    height: 525px;
    margin: 0 auto;
    top: 36px;
    border: 5px solid green;
    background-color:rgb(150,220,150);
}
.msg {
    width: 100%;
    height: 270px;
    position: absolute;
    top: 120px;
    background-color: rgba(0,0,0,0.5);
}
.msg.none {
    display: none;
}
.msg-a, .msg-b ,.msg-c {
    text-align: center;
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 4px 2px grey;
}
.msg-a {
    height: 140px;
    line-height: 140px;
    font-size: 70px;
}
.msg-b {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}
.msg-c {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.pixel{
    width: 35px;
    height: 35px;
    float: left;
    background-color:rgb(150,220,150); 
}

.pixel.white {
    background-color: rgb(200,250,200);
}
.pixel.taken {
    background-color: rgb(200,200,250);
    width: 20px;
    height: 20px;
    border: 7.5px solid rgb(150,150,250);
    border-radius:15px;
}
 
.pixel.coin {
    background-color: white;
    width: 15px;
    height: 15px;
    border: 10px solid red;
    border-radius:20px;
}
